nav, li {
  position: relative;
  z-index: 10;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.nav-link {
  color: var(--dark-gray);
  text-decoration: none;
  padding: 10px;
}

.nav-link.active {
  color: var(--black);
  font-weight: bold;
}

.right-side {
  display: flex;
  align-items: center;
}

.title {
  color: var(--black);
  font-size: 35px;

  span {
    color: var(--medium-gray);
  }
}

li {
  list-style: none;
  display: inline-block;
  font-family: "Nunito Sans", serif;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}

li a {
  color: var(--dark-gray);
  text-decoration: none;
}

li a:hover {
  color: var(--black);
  font-weight: bold;
  transition: ease 0.5s;
}