nav, li {
  position: relative;
  z-index: 10;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  z-index: 1000;
}

.nav-link {
  color: var(--dark-gray);
  text-decoration: none;
  padding: 10px;
}

.nav-link.active {
  color: var(--black);
  font-weight: bold;
}

.right-side {
  display: flex;
  align-items: center;
}

.title {
  color: var(--black);
  font-size: 35px;

  span {
    color: var(--medium-gray);
  }
}

li {
  list-style: none;
  display: inline-block;
  font-family: "Nunito Sans", serif;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}

li a {
  color: var(--dark-gray);
  text-decoration: none;
}

li a:hover {
  color: var(--black);
  font-weight: bold;
  transition: ease 0.5s;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.hamburger div {
  height: 4px;
  background-color: var(--dark-gray);
  width: 100%;
  border-radius: 4px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-links ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.nav-links li {
  display: inline-block;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--light-gray);
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-links.active {
    animation: slideIn 0.3s ease-in-out;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}