.projects {
  padding-bottom: 100px;
  position: relative;
  transition: opacity 0.5s ease-in-out;

  h2 {
    color: var(--dark-gray);
    font-size: 35px;
    margin-bottom: 25px;
    text-align: center;
  }
}

/* Container do grid */
.grid-container {
  display: grid;                       /* Ativa o grid */
  grid-template-columns: repeat(2, 1fr);  /* Define 3 colunas de tamanho igual */
  grid-gap: 20px;                        /* Espaçamento entre os itens */
  padding: 20px;                         /* Espaçamento interno */

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

/* Estilo para os itens do grid */
.grid-item {
  background-color: var(--medium-gray);            /* Cor de fundo */
  color: var(--project-text);                         /* Cor do texto */
  padding: 20px;                        /* Espaçamento interno */
  text-align: center;                   /* Alinha o texto ao centro */
  border-radius: 5px;                   /* Bordas arredondadas */

  img {
    height: 270px;
    object-fit: cover;
    width: 100%;
  }

  h3 {
    margin-bottom: 8px;;
  }
}

.description {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;

  @media (max-width: 480px) {
    display: block;
  }

  .buttons {
    @media (max-width: 480px) {
      display: flex;
      justify-content: left;
      gap: 8px;
    }
  }

  .buttons a {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--medium-gray);
    color: var(--project-text);
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 12px;
    border-radius: 26px;
    border: 1px solid var(--project-text);
  }

  .buttons a:hover {
    cursor: pointer;
    background-color: var(--project-text);
    color: var(--button-hover);
  }

  .tech-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;

    @media (max-width: 480px) {
      justify-content: left;
      margin-left: 4px;
      margin-top: 12px;
    }

    .tag-icon {
      font-size: 25px;
      transition: transform 0.5s ease;
    }

    .tag-icon:hover {
      cursor: pointer;
      transform: scale(1.3);
    }
  }
}